[submodule "info2180-lab4"]
	path = info2180-lab4
	url = https://github.com/DevNub/info2180-lab4.git
[submodule "info2180-project2"]
	path = info2180-project2
	url = https://github.com/DevNub/info2180-project2.git
[submodule "Portfolio"]
	path = Portfolio
	url = https://github.com/DevNub/portfolio.git
[submodule "portfolio2"]
	path = portfolio2
	url = https://github.com/DevNub/portfolio.git
